<nav>
  <ul class="nav">
    {% for item in items %}
    {% if not item.parent %}
    <li><a href="{% if item.named %}{% url item.url %}{% else %}{{ item.url }}{% endif %}">{{ item.name }}</a>
      {% with template_name="menu/sub_menu.html" menu=item.children back_to_top=None %}
      {% include template_name %}
      {% endwith %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<style>
    body {
      font-family: Helvetica;
    }
/* Стили меню */
    .nav {
        display:inline-block;
        width:100%;
        margin:0px auto;
        padding:0;
        background-color: black;
        color:white;
    }
    .nav li {
        margin:10px;
        float:left;
        position:relative;
        list-style:none;
    }
    .nav a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 8px 20px;
    }

    /* sВыбранный пункт меню */
    .nav .current a, #nav li:hover > a {
        color: grey;
        color: black;
    }

    /* Подуровень */
    .nav ul li:hover a, #nav li:hover li a {
        border:none;
        /*color:#000;*/
    }
    .nav ul li a:hover {
        background-color: #004;
    }

    /* выпадающий список */
    .nav li:hover > ul {
        opacity:1;
        visibility:visible;
    }
    .nav ul {
        opacity:0;
        visibility:hidden;
        padding:0;
        width:175px;
        position:absolute;
        background-color: black;
    }
    .nav ul li {
        float:none;
        margin:0;
    }
    .nav ul ul {
        left:160px;
        top:0px;
    }
</style>