{% if menu.all %}
<ul>
  {% for item in menu.all %}
  <li><a href="{% if item.named %}{% url item.url %}{% else %}{{ item.url }}{% endif %}">{{ item.name }}</a>
    {% with template_name="menu/sub_menu.html" menu=item.children %}
    {% include template_name %}
    {% endwith %}
  </li>
  {% endfor %}
</ul>
{% endif %}