<!DOCTYPE html>
{% load draw_menu %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Тестовое задание</title>
</head>
<body>


<div class="container">
  <h2><a href="/">Главная</a></h2>
  {% block content %}
  {% endblock %}
</div>

{% draw_menu 'FirstMenu' %}

</body>
</html>